#about{
    background-color: #000;
    color:white;
    background-image: url("/images/jumbotron/temp2_edit.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left center;
    background-size: auto 100%;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/

    hr{
        border-top: 1px solid white;
    }


    .block{
        padding: 0.5rem 15px;
        background: rgba(0,0,0,0.8)
    }
}
