#myAppointments{
   /* background-image: url("/images/jumbotron/extra.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 80% bottom;
    !*background-size: auto 100%;*!*/
}
