#calendar{
    background-color: #000;
    color: white;

    background-image: url("/images/jumbotron/agenda_edit.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right center;
    background-size: auto 100%;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    display: flex;
    align-items: stretch;

    .container, .container-fluid{
        flex: 1;
        display: flex;
        flex-direction: column;

        .row:last-child{
            flex: 1;
        }
    }

    .section-heading{
        color:white;
    }

    .img-holder{
        background: #000;
        display:flex;
        align-items: center;
    }


    .featured-article {
        position: relative;
        margin-bottom: 1em;
    }

    .shows {
        background: #000;
        color: white;
        margin-bottom: 0;
        min-height: 100%;


        .row {
            border-bottom: 1px solid #000;
            flex: 1;

            &:first-of-type{
                border-top: 1px solid #000;
            }

            .col{
                -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
                -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
                box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
                padding: 0.5rem 15px;
            }

            .heading{
                display: flex;
                justify-content: space-between;


                .date{
                    color: #000;
                }
            }

            .media-heading {
                margin: 0;
            }

            @media (min-width: 768px) {
                img{
                    max-height: 120px;
                }
            }

            @media (min-width: 1200px) {
                img{
                    max-height: 130px;
                }

            }

            &:nth-child(2n+1) {
                background: #FFF;

                color: #262f37;


            }

        }
    }
}
