// Styling for the contact section
#contact {
    background-color: #000;
    background-image: url("/img/map-image.png");
    background-repeat: no-repeat;
    background-position: center;

    .section-heading {
        color: $white;
    }

    .form-group {
        margin-bottom: 25px;
        input,
        textarea {
            padding: 20px;
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 248px;
        }
    }


    .form-control:focus {
        border-color: $primary;
        box-shadow: none;
    }

    ::-webkit-input-placeholder {
        font-weight: 700;
        color: $gray-400;

    }

    :-moz-placeholder {
        font-weight: 700;
        color: $gray-400;
        /* Firefox 18- */

    }

    ::-moz-placeholder {
        font-weight: 700;
        color: $gray-400;
        /* Firefox 19+ */
    }

    :-ms-input-placeholder {
        font-weight: 700;
        color: $gray-400;
    }
}
