/*
 * IMAGES
 */

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

figure.featured{
    position: relative;
    margin: 0;

    img{
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
    }
}

figure .block-title {
    /* Position & Box Model */
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* background */
    background: rgba(0,0,0,0.7);
    /* Width/Height */
    padding: .5em;
    width: 100%;
    /* Text color */
    color: #fff;
}
