
.masthead {
    text-align: center;
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    background-image: url("/images/jumbotron/header_large_edit.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    padding: 0;
    margin-top:0;

    .container, .container-fluid{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex: 1;

        .intro-text{
            margin-bottom: 50px;
        }
    }
}


.intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

@media (min-width: 768px) {

    .intro-text{
        margin-bottom: 150px;
    }

    .intro-lead-in {
        margin-bottom: 25px;

        font-size: 40px;
        font-style: italic;
        line-height: 40px;

        font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}
