#myProfile{
    .avatar{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 100%;
        }

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {
            width: 255px;
        }
    }
}
