#mainNav{
    background-color: #000;

   .nav-item .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: white;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

        &:hover, &.active {
            color: #fed136;
        }
    }
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: rgba(0,0,0,0.5);

        .centered{
            padding-right: 60px;
        }

        &.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: #000000;

            .nav-item .nav-link {
                padding: 0.75em 0.5em;
            }

            .centered{
                padding-right: 0px;
            }
        }

        &.navbar-shrink .navbar-brand {
            font-size: 1.25em;
            padding: 12px 0;
        }

        .navbar-brand {
            font-size: 1.75em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        .nav-item .nav-link {
            padding: 1.1em 0.5em;
        }
    }
}

