/*
 * Base
 */

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    flex-direction: column;
}


/*
 * Layout
 */
.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

main{
    flex: 1;
}


.avatar{
    @include make-col-ready();
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 100%;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        width: 255px;
    }
}


/*
 * Module
 */

// Buttons
.hamburger{
    display: inline-block;
    flex-direction: column;
    width: 1.25em;
    height: 0.6em;
    justify-content: center;
}


.hamburger span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: white;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

.hamburger span:first-of-type {
    /* rotate first one */
    transform: translate3d(-7px,0,0) rotate(-45deg) scaleX(.4);
}
.hamburger span:nth-of-type(2) {

}
.hamburger span:last-of-type {
    /* rotate third one */
    transform: translate3d(-7px,0,0) rotate(45deg) scaleX(.4);
}


.sidebarCollapse.active{
    .hamburger{
        height: 0.8779em;
        span {
            /* no rotation */
            transform: none;
            /* all bars are visible */
            opacity: 1;
            margin: 4px auto;
        }
    }
}


// CARDS
.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -15px;
    right: 0px;
    font-size: 5rem;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}


// LISTS
.display-list{
    margin-bottom: 0;


    li{
        border-bottom: 1px solid #d3d3d3;
        padding: 3px 0;
    }

    .label{
        display: inline-block;
        font-weight: bold;
        width: 110px;

        &.large{
            width: 185px;
        }

        &.medium{
            width: 120px;
        }
    }
}


// TABLES

.table{
    th{
        border-top: 0;
    }

    .clickable-row{
        cursor: pointer;
    }
}


/*
 * State
 */



/*
 * Theme
 */

.bg-dark{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top: rgba(109, 127, 204, 0.2) solid 1px;
}





/*
 ** OFF CANVAS WRAPPER
 */
.wrapper{
    flex-grow: 1;
    max-height: 100vh;
    display: flex;
    align-items: stretch;

    /*
     ** DROP DOWNS
     */
    a[data-toggle="collapse"] {
        position: relative;
    }

    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f078";

        display: block;
        position: absolute;
        right: 20px;

        font-size: 0.6em;
    }

    a[aria-expanded="true"]::before {
        content: '\f077';
    }

    ul ul a {
        font-size: 0.9em;
        padding-left: 30px !important;
        background: #6d7fcc;
    }

    /**
     *** LAYOUT
     **/
    .sidebar {
        position: relative;
        min-width: 200px;
        min-height: 100%;
        overflow: hidden;

        background: #232526;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        color: #fff;
        transition: all 0.3s;

        a, a:hover, a:focus {
            color: white;
            text-decoration: none;
            transition: all 0.3s;
        }

        .buttons{
            text-align: end;
        }

        &.active{
            min-width: 60px;
            max-width: 60px;
            text-align: center;

            .buttons{
                text-align: center;
            }

            a[aria-expanded="false"]::before, a[aria-expanded="true"]::before{
                top: auto;
                bottom: 5px;
                right: 50%;
                transform: translateX(50%);
            }

            ul li a {
                padding: 15px 10px;
                text-align: center;
                font-size: 0.85em;

                &.sidebarCollapse{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                i {
                    margin-right:  0;
                    font-size: 1.8em;
                }

                span.label{
                    display: none;
                }
            }

            ul ul a {
                padding: 10px 5px !important;
                font-size: 0.75rem;
            }

            .sidebar-header{
                h3{
                    display: none;
                }

                strong {
                    display: block;
                }
            }
        }

        ul{
            p {
                color: #fff;
                padding: 10px;
            }

            li{
                a {
                    padding: 10px;
                    font-size: 1.1em;
                    display: block;
                    text-align: left;

                    @media (hover: hover) {
                        &:hover {
                            color: #7386D5;
                            background: #fff;

                            .hamburger span{
                                background: #7386D5;
                            }
                        }
                    }

                    @media (hover: none) {
                        &:active{
                            color: #7386D5;
                            background: #fff;

                            .hamburger span{
                                background: #7386D5;
                            }
                        }
                    }

                }

                &.active > a, a[aria-expanded="true"] {
                    color: #fff;
                    background: #6d7fcc;

                    &:hover{
                        color: #7386D5;
                        background: #fff;
                    }
                }

                &.active .active > a{
                    color: #7386D5;
                    background: #fff;
                }
            }

            &.bottom{
                position: absolute;
                min-width: 100%;
                bottom:0;
                margin: 0;
            }
        }

        .sidebar-header {
            padding: 20px;
            background: #6d7fcc;

            strong {
                display: none;
            }
        }
    }

    #content{
        flex:1;
        display: flex;
        flex-direction: column;
        overflow: auto;

        -webkit-box-shadow: inset 6px 6px 14px -3px rgba(211,211,211,1);
        -moz-box-shadow: inset 6px 6px 14px -3px rgba(211,211,211,1);
        box-shadow: inset 6px 6px 14px -3px rgba(211,211,211,1);

        border-top: #6d7fcc solid 1px;
        border-left: #6d7fcc solid 1px;

        & > a.sidebarCollapse{
            @extend .btn, .btn-sm, .btn-outline-dark;
            visibility: hidden;
            position: fixed;
            bottom: 5px;
            left: 6px;
            z-index: 1;

            .hamburger{
                height: 1rem;
            }
        }
    }
}






/*
 * TYPO
 */

.card-header{
    .h1, .h2, .h3, .h4, .h5, .h6{
        margin: 0;
    }
}

.read{
    display: inline-block;
    padding: 0 10px;
}

span.read{
    padding: 0 25px 0 15px;
}


/*
 ** MEDIA QUERY`S
 */
@media (max-width: 768px) {
    .wrapper{

        /*
         ** LAYOUT
         */
        .sidebar {
            margin-left: 0;
            min-height: 0;
            height: calc(100vh - 54.5px);
            position: fixed;
            top: 54.5px;
            left: 0;

            /* top layer */
            z-index: 9999;

            &.active {
                min-width: 54.4px;
                max-width: 54.4px;
                text-align: center;
                margin-left: -54.4px !important;

                a[aria-expanded="false"]::before, a[aria-expanded="true"]::before{
                    top: auto;
                    bottom: 5px;
                    right: 50%;
                    transform: translateX(50%);
                }

                ul li a {
                    padding: 20px 10px;
                    font-size: 0.85em;

                    i {
                        margin-right:  0;
                        font-size: 1.8em;
                        margin-bottom: 5px;
                    }
                }

                ul ul a {
                    padding: 10px !important;
                }

                .sidebar-header{
                    h3 {
                        display: none;
                    }

                    strong {
                        display: block;
                    }
                }
            }

            .sidebar-header strong {
                display: none;
            }

        }

        #content{
            position: relative;

            & > a.sidebarCollapse{
                visibility: visible;
            }
        }
    }
}
