/*
 * BASE
 */

html,body{
    overflow-x: hidden;
}

body {

    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

body {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.modal-footer{
    flex-direction: column;
    justify-content: center;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.modal-open {
    .navbar{
        padding-right: 16px !important;
    }
    padding-right: 0px !important;
}

.modal-xl{
    max-width: 99%;

    @media (min-width: 1200px) {
        max-width: 90%;
    }

}

::-moz-selection {
    background: #fed136;
    text-shadow: none;
}

::selection {
    background: #fed136;
    text-shadow: none;
}
