section {
    margin-top: 52px;
    padding: 100px 0;

    @media (min-width: 1200px) {
        padding: 100px 0 150px 0;

        &.large{
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

main{
    padding-top: 80px;
    flex: 1;
}

.no-padding{
    padding: 0;
}

.no-padding{
    padding: 0;
}
