
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #fed136 !default;


@import 'modules/buttons';
@import 'modules/images';


@import 'modules/topNav';
@import 'modules/landing';
@import 'modules/intro';
@import 'modules/calendar';
@import 'modules/media-list';
@import 'modules/about';
@import 'modules/portfolio';
@import 'modules/profile';
@import 'modules/appointments';
@import 'modules/contact';
@import 'modules/footer';


