/*
 * Typography
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    line-height: 1.75;
}

a {
    color: #fed136;
}

a:hover {
    color: #fec503;
}

main{
    a{
        color: blue;
    }
}

.date{
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #6c757d ;
    margin: 0;
    line-height: 1.3;
}


.navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;

    &.active, &:active, &:focus, &:hover{
        color: #fec503;
    }
}

.navbar-dark .navbar-brand {
    @extend .navbar-brand;
}


.block-title {

    h2 {
        margin: 0;
    }

    .date{
        color: #fed136;
        font-size: 16px;
    }
}

.intro-text{
    margin: 0;
    margin-left: 0.3em;

    @media (max-width: 991.98px) {
        padding-left: 1em;
    }
}

.text-primary {
    color: #fed136;
}

.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 50px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.read{
    display: inline-block;
    padding: 0 10px;
}

span.read{
    padding: 0 25px 0 15px;
}
